@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-dark: #ff9c00;
  --ant-input-affix-rgba: 236, 241, 245, 0.9;
  --box-shadow-rgba: 0, 0, 0, 0.22;
  --button-text: #1e1e1e;
  --button-text-hover: #301d00;
  --button-color-disabled: #8b8b8b;
  --button-bg-disabled: #d9d9d9;
  --border-input-rgba: 139, 139, 139, 0.5;
  --input-bg-disabled: #d9d9d9;
  --input-color-disabled: #8b8b8b;
  --button-ghost-border: #1e1e1e;
  --button-ghost-color: #1e1e1e;

  .ant-input-affix-wrapper {
    padding: 0;
  }
  .ant-input-affix-wrapper .ant-input-prefix {
    padding: 14px;
    background-color: rgba(var(--ant-input-affix-rgba));
    margin-inline-end: 0;
    margin-right: 10px;
  }
  .ant-select-single,
  .ant-select {
    height: 47px;
  }
  .ant-select .ant-select-arrow {
    background-color: rgba(var(--ant-input-affix-rgba));
    height: auto;
    top: 30%;
    right: 0;
  }
  .ant-select .ant-select-arrow .anticon {
    padding: 14px;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
  .ant-select-multiple .ant-select-selection-overflow,
  .ant-picker .ant-picker-input {
    padding: 10px;
    border-bottom: 0.5px solid rgba(var(--border-input-rgba));
  }
  .ant-input-borderless {
    border-bottom: 1px solid rgba(var(--border-input-rgba));
  }
  .ant-input-borderless {
    min-height: 48px;
  }
  .ant-input-affix-wrapper .ant-input.ant-input-disabled {
    background-color: var(--input-bg-disabled);
    color: var(--input-color-disabled);
    cursor: not-allowed;
  }
  .ant-input-affix-wrapper .ant-input:not(.ant-input-disabled):hover,
  .ant-input-affix-wrapper .ant-input:not(.ant-input-disabled):active,
  .ant-input-affix-wrapper .ant-input:not(.ant-input-disabled):focus-visible {
    border-bottom: 1px solid var(--primary-dark);
  }
  .ant-input-group .ant-input-group-addon {
    padding: 0;
    background-color: rgba(var(--ant-input-affix-rgba));
  }
  .ant-input-group .ant-input-group-addon .ant-btn-link,
  .ant-input-group .ant-input-group-addon .ant-btn-link:hover,
  .ant-input-group .ant-input-group-addon .ant-btn-link:active {
    color: var(--button-text);
  }
  .ant-btn,
  .ant-btn.ant-btn-default {
    height: auto;
    color: var(--button-text);
    font-weight: 600;
    line-height: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .ant-btn:not(.ant-btn-link):not(.ant-btn-background-ghost):not(
      .ant-btn-text
    ) {
    box-shadow: 0px 4px 34px 0px rgba(var(--box-shadow-rgba));
  }
  .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: var(--button-text-hover);
    font-weight: 700;
    border-color: transparent;
  }
  .ant-btn.ant-btn-background-ghost {
    color: var(--button-ghost-color);
    border-color: var(--button-ghost-border);
    border-width: 2px;
    border-radius: 2px;
  }
  .ant-btn.ant-btn-background-ghost:hover {
    border-color: var(--button-ghost-border) !important;
  }
  .ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
    color: var(--button-text-hover);
    text-decoration: underline;
  }
  .ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: inherit;
  }
  .ant-btn:disabled {
    color: var(--button-color-disabled);
    background-color: var(--button-bg-disabled);
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin: 0;
  }
  .ant-typography {
    margin-bottom: 2px;
  }
  .ant-card {
    border-radius: 2px;
  }
  .ant-card.inherit {
    background-color: inherit;
  }
  .ant-card .ant-card-body {
    padding: 16px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
